@media (max-width: 768px) {
  .grid-footer {
    grid-template-columns: 1fr;
  }

  .produktliste_grid {
    grid-template-columns: 1fr;
  }

  header p {
    padding: 10px;
  }

  .logo img {
    width: 70px;
  }
  .foto img {
    padding: 35px 0;
  }

  h1 {
    font-family: var(--font);
    font-size: 2rem;
    margin: 80px;
    margin-top: 5px;
  }

  h5 {
    font-size: 2rem;
  }

  .infobokse {
    grid: none;
    align-items: center;
  }

  .tekst {
    margin: 50px;
  }

  .kategorier {
    margin: 80px;
  }
  .kategori_grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    gap: 1rem;
    margin: 15px;
  }
  .card {
    grid: none;
  }

  .info {
    grid: none;
    padding: 1rem;
  }

  .kontakt {
    grid: none;
  }

  .kontakt img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-items: center;
  }

  .pProdukt {
    font-size: medium;
  }
}
