html {
  --font: "helvetica neue lt std";
}

h1 {
  font-family: var(--font);
}

h2 {
  font-family: var(--font);
}
h3 {
  font-family: var(--font);
}
h4 {
  font-family: var(--font);
}
h5 {
  font-family: var(--font);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/* Menu */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f0e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo img {
  width: 120px;
  height: auto;
  padding: 10px 0;
}
