html {
  --font: "helvetica neue lt std";
  --rød: #ea5045;
  --mørkeblå: #2d67aa;
  --lyseblå: #77c2e1;
  --orange: #dc6c2b;
  --gul: #fada64;
  --mint: #85c1ad;
  --grøn: #89bc86;
  --lilla: #9d97c5;
}

h1 {
  font-family: var(--font);
}

h2 {
  font-family: var(--font);
}
h3 {
  font-family: var(--font);
}
h4 {
  font-family: var(--font);
}
h5 {
  font-family: var(--font);
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

<<<<<<< HEAD



/* prouktside CSS */
.bookinginfo{
  background-color: var(--color);
}
.åbningstider{
  background-color: var(--color);
}
.studiekort{
  background-color: var(--color);

}
=======
/* Index */
>>>>>>> bef0decae452e656b945b48865bad4b058169a6c
